KEYCLOAK_SERVER_URL=http://localhost:8000
KEYCLOAK_REALM=EXAMPLE
KEYCLOAK_CLIENT_ID=example-client-id
KEYCLOAK_CLIENT_SECRET=example-client-secret
SPRING_APPLICATION_NAME=sisconf
SPRING_DATA_SOURCE_URL=jdbc:postgresql://localhost:5432/database
SPRING_DATA_SOURCE_USERNAME=postgres
SPRING_DATA_SOURCE_PASSWORD=password
SPRING_DATA_SOURCE_DRIVER_CLASS_NAME=org.postgresql.Driver
SPRING_JPA_HIBERNATE_DIALECT=org.hibernate.dialect.PostgreSQLDialect
SPRING_JPA_HIBERNATE_DDL_AUTO=none